.content {
    h1 { font-size: px2rem(85); }
    h2 { font-size: px2rem(70); }
    h3 { font-size: px2rem(65); }
    h4 { font-size: px2rem(55); }
    h5 { font-size: px2rem(45); }
    h6, p, span { font-size: px2rem(35); }
    small { font-size: px2rem(18); }
}